version: "3.7"

networks:
  ml-mojaloop-net:
    name: ml-mojaloop-net

services:
  ml-api-adapter:
    build:
      context: .
    container_name: ml_ml-api-adapter
    command: sh -c "/opt/ml-api-adapter/wait4/wait4.js ml-api-adapter && node src/api/index.js"
    ports:
      - "3000:3000"
    environment:
      - LOG_LEVEL=debug
      - CSL_LOG_TRANSPORT=file
      - MLAPI_ENDPOINT_SOURCE_URL=http://ml-api-adapter-endpoint:4545
    volumes:
      - ./docker/ml-api-adapter/default.json:/opt/ml-api-adapter/config/default.json
      - ./docker/wait4:/opt/ml-api-adapter/wait4
    networks:
      - ml-mojaloop-net
    user: 'root'
    depends_on:
      - central-ledger
      - kafka
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3000/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  # a special server for testing integration callbacks
  ml-api-adapter-endpoint:
    build:
      context: .
    container_name: ml_ml-api-adapter-endpoint
    command: sh -c "source test/.env; node test/integration/server/index.js"
    ports:
      - "4545:4545"
    environment:
      - LOG_LEVEL=info
      - CSL_LOG_TRANSPORT=file
      - LIB_RESOURCE_VERSIONS="transfers=1.1,participants=1.1"
      - ENDPOINT_PORT=4545
    volumes:
      - ./docker/ml-api-adapter/default.json:/opt/ml-api-adapter/config/default.json
      - ./test:/opt/ml-api-adapter/test
    networks:
      - ml-mojaloop-net
    user: 'root'
    depends_on:
      - central-ledger
      - kafka
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3000/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  central-ledger:
    image: mojaloop/central-ledger:latest
    container_name: ml_central-ledger
    command: sh -c "/opt/central-ledger/wait4/wait4.js central-ledger && node src/api/index.js"
    links:
      - mysql
      - kafka
    ports:
      - "3001:3001"
    volumes:
      - ./docker/central-ledger/default.json:/opt/central-ledger/config/default.json
      - ./docker/wait4:/opt/central-ledger/wait4
    depends_on:
      - mysql
      - kafka
    environment:
      - CLEDG_SIDECAR__DISABLED=true
    networks:
      - ml-mojaloop-net
    user: 'root'
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:3001/health"]
      timeout: 20s
      retries: 10
      interval: 30s

  mysql:
    image: mysql/mysql-server
    container_name: ml_mysql
    # Disable logging as it is far too verbose for debugging locally
    logging:
      driver: none
    ports:
      - "3306:3306"
    volumes:
      #this fixes the permissions issue, but docker-compose up will fail on first attempt
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-central_ledger}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-central_ledger}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - ml-mojaloop-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "mysql"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  kafka:
    image: johnnypark/kafka-zookeeper:2.3.0
    container_name: ml_kafka
    # Disable logging as it is far too verbose for debugging locally
    logging:
      driver: none
    volumes:
      - ./docker/kafka/:/opt/kafka_2.12-2.3.0/config/
    ports:
      - "2181:2181"
      - "9092:9092"
    environment:
      - ZOO_LOG4J_PROP=WARN
    networks:
      - ml-mojaloop-net
    healthcheck:
      test: ["CMD" ,"/opt/kafka_2.12-2.3.0/bin/kafka-broker-api-versions.sh","--bootstrap-server","kafka:29092"]
      timeout: 20s
      retries: 10
      start_period: 40s
      interval: 30s

  simulator:
    image: mojaloop/simulator:latest
    container_name: ml_simulator
    ports:
      - "8444:8444"
    environment:
      - LOG_LEVEL=info
      - TRANSFERS_ENDPOINT=http://host.docker.internal:3000
      - QUOTES_ENDPOINT=http://host.docker.internal:3002
      - PARTIES_ENDPOINT=http://host.docker.internal:4002
      - TRANSFERS_FULFIL_RESPONSE_DISABLED=false
    networks:
      - ml-mojaloop-net
    healthcheck:
      test: ["CMD", "sh", "-c" ,"apk --no-cache add curl", ";", "curl", "http://localhost:8444/health"]
      timeout: 20s
      retries: 10
      interval: 30s

